{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">A propos de nous</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <p align="justify">
                <br/><br/>
                Fondé en 2020, BE Fit Workout Gym a vu le jour grâce à la passion inébranlable de son Fondateur pour
                la calisthénie. Découvrant cette discipline il y a déjà cinq ans, il en est rapidement devenu un
                fervent adepte. La calisthénie, qui met l'accent sur l'utilisation du poids du corps comme
                principale résistance, a rapidement démontré son efficacité remarquable. Les résultats positifs et
                plus que probants qu'il a pu observer ont suscité en lui une détermination sans faille à partager
                cette méthode unique avec le monde.<br/><br/>
                La calisthénie, bien plus qu'un simple entraînement physique, a été pour lui une véritable
                révélation. En s'engageant dans cette voie, il a développé des compétences qui ont transcendé le
                simple aspect sportif. Une plus grande mobilité, une concentration accrue, une force pure étonnante
                et une motivation décuplée ont été les fruits de son engagement passionné. C'est cette
                transformation personnelle qui a inspiré la création de BE Fit Workout Gym, un lieu où la
                calisthénie est érigée en art de vivre. Au sein de notre Gym, nous croyons en la puissance du corps
                humain et en sa capacité à atteindre des sommets insoupçonnés. Notre fondateur en est la preuve
                vivante. Chaque jour, nous nous efforçons de transmettre cette passion et de guider nos membres vers
                leurs propres succès. Rejoignez-nous dans cette aventure exceptionnelle, où la calisthénie devient
                bien plus qu'un simple exercice, mais un chemin vers une meilleure version de soi.
                <br/><br/>
            </p>
        </div>
    </div>
</div>

{% endblock %}