{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if workout.get_main_image %}
                {% for image in images %}
                <img src="{{ image.image.url }}" class="img-fluid mb-2" alt="{{ image.description }}"
                    style="width: 100%; height: auto; object-fit: cover;">
                {% endfor %}
                {% else %}
                <img src="path/to/default/image.jpg" class="img-fluid rounded-start" alt="Image par défaut">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ workout.title }}</h5>
                    <p class="card-text">{{ workout.description }}</p>
                    <p class="card-text"><strong>Durée:</strong> {{ workout.duration }} minutes</p>
                    <p class="card-text"><strong>Coach(s):</strong>
                        {% for coach in workout.coachs.all %}
                        {{ coach.username }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p class="card-text"><strong>Localisation:</strong> {{ workout.location }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}