{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">S'inscrire</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <br/><br/>
                {{ form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-secondary">
                    S'inscrire
                </button>
                <br/><br/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
